*model
*model.zst
*model.zst.etag
*data_X
*data_y
*data_X.zst
*data_X.zst.etag
*data_y.zst
*data_y.zst.etag
feature_importance.png
importance.html
importances.json
metrics.json
probs.json
http_service/models/*model*

data/
sheets/

.mypy_cache/
.pytest_cache/
*.pyc
.coverage

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
cache/
node_modules/

# Logs
*.log
# Desktop Service Store
*.DS_Store
