amqp==5.3.1
beautifulsoup4==4.13.4
boto3==1.38.32
imbalanced-learn==0.13.0
langchain==0.3.25
langchain-anthropic==0.3.15
langchain-community==0.3.24
langchain-google-genai==2.1.5
langchain-mistralai==0.2.10
langchain-openai==0.3.21
libmozdata==0.2.10
llama-cpp-python==0.3.9
lmdb==1.6.2
lxml-html-clean==0.4.2
markdown2==2.5.3
matplotlib==3.10.1
mercurial==7.0.2
microannotate==0.0.24
mozci==2.4.1
numpy==2.0.2
orjson==3.10.18
ortools==9.13.4784
pandas==2.3.0
psutil==7.0.0
pydriller==1.12
pyOpenSSL>=0.14  # Could not find a version that satisfies the requirement pyOpenSSL>=0.14; extra == "security" (from requests[security]>=2.7.0->libmozdata==0.1.43)
python-dateutil==2.9.0.post0
python-hglib==2.6.2
qdrant-client==1.14.2
ratelimit==2.2.1
requests==2.32.4
requests-html==0.10.0
rs_parsepatch==0.4.4
scikit-learn==1.6.1
scipy==1.15.2
sendgrid==6.12.3
shap[plots]==0.47.2
tabulate==0.9.0
taskcluster==84.1.0
tenacity==9.1.2
tqdm==4.67.1
unidiff==0.7.5
xgboost==2.1.4
zstandard==0.23.0
