adr==0.19.0
boto3==1.14.18
imbalanced-learn==0.7.0
joblib==0.16.0
libmozdata==0.1.68
lmdb==0.98
matplotlib==3.2.2
mercurial==5.3.2
microannotate==0.0.20
mozci==1.6.4
numpy==1.19.0
orjson==3.2.1
ortools==7.7.7810
pandas==1.0.5
psutil==5.7.0
pydriller==1.12
pyOpenSSL>=0.14  # Could not find a version that satisfies the requirement pyOpenSSL>=0.14; extra == "security" (from requests[security]>=2.7.0->libmozdata==0.1.43)
python-dateutil==2.8.1
python-hglib==2.6.1
requests==2.24.0
rs_parsepatch==0.3.2
scikit-learn==0.23.1
scipy==1.5.1
shap[plots]==0.35.0
tabulate==0.8.7
taskcluster==32.0.0
tenacity==6.2.0
tqdm==4.47.0
xgboost==1.0.2
zstandard==0.14.0
