adr==0.19.4
boto3==1.16.28
imbalanced-learn==0.7.0
joblib==0.17.0
libmozdata==0.1.68
lmdb==0.99
matplotlib==3.3.3
mercurial==5.6
microannotate==0.0.23
mozci==1.11.3
numpy==1.19.4
orjson==3.4.5
ortools==8.0.8283
pandas==1.1.4
psutil==5.7.3
pydriller==1.12
pyOpenSSL>=0.14  # Could not find a version that satisfies the requirement pyOpenSSL>=0.14; extra == "security" (from requests[security]>=2.7.0->libmozdata==0.1.43)
python-dateutil==2.8.1
python-hglib==2.6.2
requests==2.25.0
rs_parsepatch==0.3.3
scikit-learn==0.23.2
scipy==1.5.4
shap[plots]==0.37.0
tabulate==0.8.7
taskcluster==38.0.6
tenacity==6.2.0
tqdm==4.54.0
xgboost==1.2.1
zstandard==0.14.0
